{% extends "base.html" %}
{% block title %}Delete Event{% endblock %}

{% block content %}
<div class="col-lg-6 offset-lg-3 mt-4">

  <h3 class="fw-bold text-danger mb-3">Delete Event</h3>

  <p>Are you sure you want to delete <strong>{{ event.name }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Delete</button>
    <a href="{% url 'event_detail' event.id %}" class="btn btn-outline-secondary ms-2">
      Cancel
    </a>
  </form>

</div>
{% endblock %}
